[submodule "third_party/libestdx"]
	path = third_party/libestdx
	url = https://github.com/Charliechen114514/libestdx.git
	ignore = dirty
[submodule "third_party/ZerOS"]
	path = third_party/ZerOS
	url = https://github.com/Charliechen114514/ZerOS.git
	ignore = dirty
